<template>
  <div>
    <base-header type="gradient-info" class="pb-6 pb-8 pt-1 pt-md-5">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <stats-card
            title="TỔNG SỐ"
            type="gradient-red"
            sub-title="1,000,000"
            icon="fa fa-users"
            class="mb-4 mb-xl-0"
          >
            <template slot="footer">
              <span :class="(card.id != 0?'text-success':'text-warning') + ' mr-2'">
                <i :class="(card.id == 0?'ni ni-check-bold':'ni ni-active-40')"></i>
                {{(card.id == 0?'Đã chọn':'Nhấp để lọc')}}
              </span>
              <span class="text-nowrap"></span>
            </template>
          </stats-card>
        </div>
        <div class="col-xl-4 col-lg-6">
          <stats-card
            title="QUẢN TRỊ VIÊN"
            type="gradient-orange"
            sub-title="5"
            icon="fa fa-star"
            class="mb-4 mb-xl-0"
          >
            <template slot="footer">
              <span :class="(card.id != 1?'text-success':'text-warning') + ' mr-2'">
                <i :class="(card.id == 1?'ni ni-check-bold':'ni ni-active-40')"></i>
                {{(card.id == 1?'Đã chọn':'Nhấp để lọc')}}
              </span>
              <span class="text-nowrap"></span>
            </template>
          </stats-card>
        </div>
        <div class="col-xl-4 col-lg-12">
          <stats-card
            title="GIÁO VIÊN"
            type="gradient-green"
            sub-title="924"
            icon="fa fa-graduation-cap"
            class="mb-4 mb-xl-0"
          >
            <template slot="footer">
              <span :class="(card.id != 2?'text-success':'text-warning') + ' mr-2'">
                <i :class="(card.id == 2?'ni ni-check-bold':'ni ni-active-40')"></i>
                {{(card.id == 2?'Đã chọn':'Nhấp để lọc')}}
              </span>
              <span class="text-nowrap"></span>
            </template>
          </stats-card>
        </div>
      </div>
    </base-header>

    <!--User table-->
    <div class="container-fluid mt--7">
      <div class="card shadow bg-default">
        <div class="card-header border-0 bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0 text-white">{{card.title}}</h3>
            </div>
            <div class="col text-right">
              <base-button type="info">Thêm mới</base-button>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <div v-if="isLoading">
            <div class="d-flex justify-content-center" style="padding: 80px 80px 0px 80px">
              <orbit-spinner :animation-duration="800" :size="55" color="#ff1d5e" />
            </div>
            <div
              class="d-flex justify-content-center"
              style="padding: 20px 0px 80px 0px"
            >Đang tải dữ liệu...</div>
          </div>
          <base-table
            v-if="!isLoading"
            class="table align-items-center table-flush table-dark"
            thead-classes="thead-dark"
            tbody-classes="list"
          >
            <template slot="columns">
              <th class="text-center">STT</th>
              <th class="text-center">Họ và tên</th>
              <th class="text-center">Tài khoản</th>
              <th class="text-center">Email</th>
              <th class="text-center">Vai trò</th>
              <th></th>
            </template>

            <template slot-scope="{index, row}">
              <td
                class="text-center"
                scope="row"
                @click="selectedAgent(row)"
              >{{(pagination.value - 1)*10 + index + 1}}</td>
              <td class="budget" @click="selectedAgent(row)">{{row.a_name}}</td>
              <td
                class="text-center"
                @click="selectedAgent(row)"
              >{{(row.i_total==undefined || row.i_total == 0?'Chưa có':row.i_total)}}</td>
              <td
                class="text-center"
                @click="selectedAgent(row)"
              >{{(row.p_total==undefined || row.p_total == 0?'Chưa có':row.p_total)}}</td>
              <td
                class="text-center"
                @click="selectedAgent(row)"
              >{{(row.r_total==undefined || row.r_total == 0?'Chưa có':row.r_total)}}</td>
              <td class="text-right">
                <base-dropdown class="dropdown" position="right">
                  <template>
                    <a
                      class="dropdown-item text-center"
                      href="#"
                      @click="viewAgentDetail(row)"
                    >Mô tả</a>
                    <a class="dropdown-item text-center" href="#" @click="openEdit(row)">Chỉnh sửa</a>
                    <a
                      class="dropdown-item text-center"
                      href="#"
                      style="color:red"
                      @click="openDeleteConfirm(row)"
                    >Xóa</a>
                  </template>
                  <a
                    slot="title"
                    class="btn btn-sm btn-icon-only text-light"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                </base-dropdown>
              </td>
            </template>
          </base-table>
        </div>

        <div class="card-footer d-flex justify-content-end bg-transparent">
          <base-pagination :total="1"></base-pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { OrbitSpinner } from "epic-spinners";
export default {
  components: {
    OrbitSpinner
  },
  data() {
    return {
      card: {
        id: 0,
        title: "DANH SÁCH TẤT CẢ NGƯỜI DÙNG"
      },
      isLoading: true,
    };
  },
  methods: {},
  mounted() {}
};
</script>
<style></style>
