<template>
  <div class="container-fluid mt--8" style="margin-top: -7rem !important">
    <div class="card shadow mb-2">
      <div class="card-header border-0 bg-transparent" style="padding: 10px">
        <h5 class="text-black" style="margin: 0px;font-weight: 600;" align="center"><i class="ni ni-tag mr-1"/>Ý ĐỊNH: {{currentIntent.i_name == undefined ? "********************":currentIntent.i_name.toUpperCase()}}</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 mb-5">
        <phrase-table :parentId="parentId" @reloadTotalCount="$emit('reloadTotalCount')"></phrase-table>
      </div>
      <div class="col-sm-6 mb-5">
        <response-table :parentId="parentId" @reloadTotalCount="$emit('reloadTotalCount')"></response-table>
      </div>
    </div>
  </div>
</template>
<script src="./PhraseResponse.js"/>
<style>
</style>