<template>
  <div>
    <base-header type="gradient-info" class="pb-6 pb-8 pt-1 pt-md-5">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-4 col-lg-6" @click="changeCard(0)">
          <stats-card
            title="BIỂU THỨC CƠ BẢN"
            type="gradient-red"
            :sub-title="data.base.length > 0? data.base.length + '':'Chưa có'"
            icon="fa fa-users"
            :class="'selected-card-hover mb-4 mb-xl-0' + (card.id == 0?' selected-card':'')"
          >
            <template slot="footer">
              <span :class="(card.id != 0?'text-success':'text-warning') + ' mr-2'">
                <i :class="(card.id == 0?'ni ni-check-bold':'ni ni-active-40')"></i>
                {{(card.id == 0?'Đã chọn':'Nhấp để lọc')}}
              </span>
              <span class="text-nowrap"></span>
            </template>
          </stats-card>
        </div>
        <div class="col-xl-4 col-lg-6" @click="changeCard(1)">
          <stats-card
            title="BIỂU THỨC ĐIỀU KIỆN"
            type="gradient-orange"
            :sub-title="data.condition.length > 0? data.condition.length + '':'Chưa có'"
            icon="fa fa-star"
            :class="'selected-card-hover mb-4 mb-xl-0' + (card.id == 1?' selected-card':'')"
          >
            <template slot="footer">
              <span :class="(card.id != 1?'text-success':'text-warning') + ' mr-2'">
                <i :class="(card.id == 1?'ni ni-check-bold':'ni ni-active-40')"></i>
                {{(card.id == 1?'Đã chọn':'Nhấp để lọc')}}
              </span>
              <span class="text-nowrap"></span>
            </template>
          </stats-card>
        </div>
        <div class="col-xl-4 col-lg-12" @click="changeCard(2)">
          <stats-card
            title="BIỂU THỨC TÍNH TOÁN"
            type="gradient-green"
            :sub-title="data.calculate.length > 0? data.calculate.length + '':'Chưa có'"
            icon="fa fa-graduation-cap"
            :class="'selected-card-hover mb-4 mb-xl-0' + (card.id == 2?' selected-card':'')"
          >
            <template slot="footer">
              <span :class="(card.id != 2?'text-success':'text-warning') + ' mr-2'">
                <i :class="(card.id == 2?'ni ni-check-bold':'ni ni-active-40')"></i>
                {{(card.id == 2?'Đã chọn':'Nhấp để lọc')}}
              </span>
              <span class="text-nowrap"></span>
            </template>
          </stats-card>
        </div>
      </div>
    </base-header>

    <!--User table-->
    <div class="container-fluid mt--7">
      <div class="card shadow bg-default">
        <div class="card-header border-0 bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0 text-white">DANH SÁCH {{card.title}}</h3>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <div v-if="isLoading">
            <div class="d-flex justify-content-center" style="padding: 80px 80px 0px 80px">
              <orbit-spinner :animation-duration="800" :size="55" color="#ff1d5e" />
            </div>
            <div
              class="d-flex justify-content-center"
              style="padding: 20px 0px 80px 0px"
            >Đang tải dữ liệu...</div>
          </div>
          <base-table
            v-if="!isLoading"
            class="table align-items-center table-flush table-dark"
            thead-classes="thead-dark"
            tbody-classes="list"
            :data="data.show"
          >
            <template slot="columns">
              <th class="text-center">STT</th>
              <th class="text-center">Biểu thức</th>
              <th class="text-center">Mô tả</th>
            </template>

            <template slot-scope="{index, row}">
              <td
                class="text-center"
                scope="row"
              >{{index + 1}}</td>
              <td class="budget">{{row.code}}</td>
              <td
              >{{row.description}}</td>
            </template>
          </base-table>
        </div>

        <div class="card-footer d-flex justify-content-end bg-transparent">
          <base-pagination :total="1"></base-pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script src="./Expression.js">
</script>
<style></style>
