<template>
  <div class="container-fluid mt--7">
    <div class="card shadow bg-default">
      <div class="card-header border-0 bg-transparent">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0 text-white">DANH SÁCH PHẠM TRÙ</h3>
          </div>
          <div class="col text-right">
            <base-button type="info" @click="openAdd()">Thêm mới</base-button>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <div v-if="isLoadingAgent">
          <div class="d-flex justify-content-center" style="padding: 80px 80px 0px 80px">
            <orbit-spinner :animation-duration="800" :size="55" color="#ff1d5e" />
          </div>
          <div
            class="d-flex justify-content-center"
            style="padding: 20px 0px 80px 0px"
          >Đang tải dữ liệu...</div>
        </div>
        <base-table
          v-if="!isLoadingAgent"
          class="table align-items-center table-flush table-dark"
          thead-classes="thead-dark"
          tbody-classes="list"
          :data="agents.slice((pagination.value - 1) * 10, (pagination.value - 1) * 10 + 10)"
        >
          <template slot="columns">
            <th class="text-center">STT</th>
            <th class="text-center">Tên phạm trù</th>
            <th class="text-center">Số ngữ cảnh</th>
            <th class="text-center">Số mẫu hỏi</th>
            <th class="text-center">Số câu trả lời</th>
            <th></th>
          </template>

          <template slot-scope="{index, row}">
            <td
              class="text-center"
              scope="row"
              @click="selectedAgent(row)"
            >{{(pagination.value - 1)*10 + index + 1}}</td>
            <td class="budget" @click="selectedAgent(row)">{{row.a_name}}</td>
            <td
              class="text-center"
              @click="selectedAgent(row)"
            >{{(row.i_total==undefined || row.i_total == 0?'Chưa có':row.i_total)}}</td>
            <td
              class="text-center"
              @click="selectedAgent(row)"
            >{{(row.p_total==undefined || row.p_total == 0?'Chưa có':row.p_total)}}</td>
            <td
              class="text-center"
              @click="selectedAgent(row)"
            >{{(row.r_total==undefined || row.r_total == 0?'Chưa có':row.r_total)}}</td>
            <td class="text-right">
              <base-dropdown class="dropdown" position="right">
                <template>
                  <a class="dropdown-item text-center" href="#" @click="viewAgentDetail(row)">Mô tả</a>
                  <a class="dropdown-item text-center" href="#" @click="openEdit(row)">Chỉnh sửa</a>
                  <a
                    class="dropdown-item text-center"
                    href="#"
                    style="color:red"
                    @click="openDeleteConfirm(row)"
                  >Xóa</a>
                </template>
                <a
                  slot="title"
                  class="btn btn-sm btn-icon-only text-light"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-ellipsis-v"></i>
                </a>
              </base-dropdown>
            </td>
          </template>
        </base-table>
      </div>

      <div class="card-footer d-flex justify-content-end bg-transparent">
        <base-pagination :total="agents.length" v-model="pagination.value"></base-pagination>
      </div>
    </div>
    <!-- Modal add new agent or edit -->
    <modal
      :show.sync="modals.addAgentModal"
      :gradient="modals.isEdit?'primary':'success'"
      modal-classes="modal-danger modal-dialog-centered"
    >
      <h2 slot="header" class="modal-title">
        <i :class="modals.ic"></i>
        {{modals.title}}
      </h2>
      <base-alert type="warning" v-if="modals.warning.length > 0">
        <span class="alert-inner--text">
          <strong>Lưu ý!</strong>
          {{modals.warning}}
        </span>
      </base-alert>
      <form role="form">
        <base-input
          :value="modals.fieldAName"
          v-model="modals.fieldAName"
          @input="inpNameChange()"
          placeholder="Tên đặc trưng của phạm trù"
          addon-left-icon="ni ni-hat-3"
        ></base-input>
        <textarea
          v-model="modals.fieldADescription"
          @input="inpDesChange"
          @click="inpDesChange"
          class="form-control"
          rows="3"
          placeholder="Nhập mô tả để thể hiện rõ hơn về phạm trù này ..."
        ></textarea>
      </form>
      <template slot="footer">
        <base-button
          type="danger"
          @click="modals.addAgentModal = false"
        >{{modals.isEdit?"Sửa sau":"Thêm sau"}}</base-button>
        <base-button
          type="success"
          class="ml-auto"
          @click="addOrUpdateAgent()"
          :disabled="modals.finishDisable"
        >Hoàn tất</base-button>
      </template>
    </modal>
    <!-- End of modal add new agent -->

    <!-- Modal detail -->
    <modal
      :show.sync="detailsAgent.show"
      gradient="info"
      modal-classes="modal-danger modal-dialog-centered"
    >
      <h4
        slot="header"
        class="modal-title"
      >Chi tiết phạm trù (Mã số: {{detailsAgent.currentAgent.a_id}})</h4>
      <div class="py-3 text-center">
        <i class="ni ni-hat-3 ni-3x"></i>
        <h2 class="heading mt-1" style="font-size: 26px">{{detailsAgent.currentAgent.a_name}}</h2>
        <p
          class="small mt-3 mb-3"
          style="text-align: justify;"
        >{{(detailsAgent.currentAgent.a_description === undefined || detailsAgent.currentAgent.a_description.length>0)?detailsAgent.currentAgent.a_description:'Chưa có mô tả cụ thể cho phạm trù này! Vui lòng cập nhật để tường minh hơn trong quá trình xử lý.'}}</p>

        <div style="font-weight: bold">ĐƯỢC TẠO VÀO LÚC</div>
        <div class="ml-auto mb-2">{{extractTime(detailsAgent.currentAgent.a_create_at)}}</div>

        <div style="font-weight: bold">SỬA LẦN CUỐI VÀO LÚC</div>
        <div class="ml-auto">{{extractTime(detailsAgent.currentAgent.a_update_at)}}</div>
      </div>

      <template slot="footer">
        <base-button type="white" @click="detailsAgent.show = false" class="mr-auto ml-auto">Đã rõ</base-button>
      </template>
    </modal>
    <!-- End of modal detail -->

    <!-- Modal confirm delete -->
    <modal
      :show.sync="confrimDelete.isShow"
      gradient="danger"
      modal-classes="modal-danger modal-dialog-centered"
    >
      <h4
        slot="header"
        class="modal-title"
      >Xóa phạm trù (Mã số: {{confrimDelete.currentAgent.a_id}})</h4>
      <div class="text-center mb-3">
        <i class="fa fa-trash ni-5x"></i>
      </div>
      <p align="center" style="font-weight: bold">
        Hiện tại bạn đang có ý định xóa một phạm trù có tên là
        <badge type="default">{{confrimDelete.currentAgent.a_name}}</badge>. Vui lòng cân nhắc kỹ trước khi thực hiện, khi bạn xóa sẽ dẫn đến mất các mục liên quan như:
      </p>
      <ul class="small" style="font-weight: bold">
        <li>
          Ngữ cảnh (Intent) liên quan:
          <badge
            type="default"
          >{{confrimDelete.currentAgent.i_total == null ? 0: confrimDelete.currentAgent.i_total}}</badge>(ngữ cảnh)
        </li>
      </ul>
      <ul class="small" style="font-weight: bold">
        <li>
          Mẫu hỏi (Phrase) liên quan:
          <badge
            type="default"
          >{{confrimDelete.currentAgent.p_total == null ? 0: confrimDelete.currentAgent.p_total}}</badge>(mẫu hỏi)
        </li>
      </ul>
      <ul class="small" style="font-weight: bold">
        <li>
          Mẫu trả lời (Response) liên quan:
          <badge
            type="default"
          >{{confrimDelete.currentAgent.r_total == null ? 0: confrimDelete.currentAgent.r_total}}</badge>(mẫu trả lời)
        </li>
      </ul>

      <template slot="footer">
        <base-button type="danger" @click="removeAgent()">Xóa</base-button>
        <base-button type="info" @click="confrimDelete.isShow = false">Không xóa</base-button>
      </template>
    </modal>
    <!-- End of modal detail -->
  </div>
</template>
<script src="./AgentTable.js"/>
<style>
</style>