<template>
  <div>
    <base-header type="gradient-info" class="pb-6 pb-8 pt-1 pt-md-5">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-4 col-lg-6" @click="changeCard(0)">
          <stats-card
            title="ĐÃ NHẬN"
            type="gradient-blue"
            :sub-title="count.received"
            icon="fa fa-comments"
            :class="'selected-card-hover mb-4 mb-xl-0' + (card.id == 0?' selected-card':'')"
          >
            <template slot="footer">
              <span :class="(card.id != 0?'text-success':'text-warning') + ' mr-2'">
                <i :class="(card.id == 0?'ni ni-check-bold':'ni ni-active-40')"></i>
                {{(card.id == 0?'Đã chọn':'Nhấp để lọc')}}
              </span>
              <span class="text-nowrap"></span>
            </template>
          </stats-card>
        </div>
        <div class="col-xl-4 col-lg-6" @click="changeCard(1)">
          <stats-card
            title="ĐÃ PHẢN HỒI"
            type="gradient-green"
            :sub-title="count.responsed"
            icon="ni ni-check-bold"
            :class="'selected-card-hover mb-4 mb-xl-0' + (card.id == 1?' selected-card':'')"
          >
            <template slot="footer">
              <span :class="(card.id != 1?'text-success':'text-warning') + ' mr-2'">
                <i :class="(card.id == 1?'ni ni-check-bold':'ni ni-active-40')"></i>
                {{(card.id == 1?'Đã chọn':'Nhấp để lọc')}}
              </span>
              <span class="text-nowrap"></span>
            </template>
          </stats-card>
        </div>
        <div class="col-xl-4 col-lg-12" @click="changeCard(2)">
          <stats-card
            title="CHƯA THỂ"
            type="gradient-orange"
            :sub-title="count.notyet"
            icon="ni ni-fat-remove"
            :class="'selected-card-hover mb-4 mb-xl-0' + (card.id == 2?' selected-card':'')"
          >
            <template slot="footer">
              <span :class="(card.id != 2?'text-success':'text-warning') + ' mr-2'">
                <i :class="(card.id == 2?'ni ni-check-bold':'ni ni-active-40')"></i>
                {{(card.id == 2?'Đã chọn':'Nhấp để lọc')}}
              </span>
              <span class="text-nowrap"></span>
            </template>
          </stats-card>
        </div>
      </div>
    </base-header>

    <!--Charts-->
    <div class="container-fluid mt--7">
      <div class="card shadow bg-default">
        <div class="card-header border-0 bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0 text-white">{{card.title}}</h3>
            </div>
            <div class="col text-right">
              <!-- Một nút nào đó -->
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <div v-if="isLoading">
            <div class="d-flex justify-content-center" style="padding: 80px 80px 0px 80px">
              <orbit-spinner :animation-duration="800" :size="55" color="#ff1d5e" />
            </div>
            <div
              class="d-flex justify-content-center"
              style="padding: 20px 0px 80px 0px"
            >Đang tải dữ liệu...</div>
          </div>
          <base-table
            v-if="!isLoading"
            class="table align-items-center table-flush table-dark"
            thead-classes="thead-dark"
            tbody-classes="list"
            :data="data"
          >
            <template slot="columns">
              <th class="text-center">STT</th>
              <th class="text-center">Nhận được</th>
              <th class="text-center">Phản hồi</th>
              <th class="text-center">Tài khoản</th>
              <th class="text-center">Trạng thái</th>
              <th></th>
            </template>

            <template slot-scope="{index, row}">
              <td class="text-center" scope="row" @click="openInfo(row)">{{ index + 1}}</td>
              <td class="budget" @click="openInfo(row)">{{JSON.parse(row.rd_user_query).phrase}}</td>
              <td
                class="text-center"
                @click="openInfo(row)"
              >{{processResultForShow(row.rd_response)}}</td>
              <td
                class="text-center"
                @click="openInfo(row)"
              >{{row.ua_username==null || row.ua_username == undefined ? "Khách":row.ua_username}}</td>
              <td
                class="text-center"
                @click="openInfo(row)"
              >{{row.rd_is_success?"Đã phản hồi":"Chưa có phản hồi"}}</td>
              <td class="text-right">
                <base-dropdown class="dropdown" position="right">
                  <template>
                    <a class="dropdown-item text-center jmenu-item" @click="openInfo(row)">Chi tiết</a>
                    <a
                      v-if="row.rd_is_success"
                      class="dropdown-item text-center jmenu-item"
                      @click="openEdit(row.rd_response)"
                    >Sửa câu trả lời</a>
                    <a
                      v-if="!row.rd_is_success"
                      class="dropdown-item text-center jmenu-item"
                      @click="openChangePass(row)"
                    >Bổ sung kiến thức</a>
                    <a
                      class="dropdown-item text-center jmenu-item"
                      @click="openDeleteConfirm(row)"
                      style="color:red !important;"
                    >Xóa</a>
                  </template>
                  <a
                    slot="title"
                    class="btn btn-sm btn-icon-only text-light"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                </base-dropdown>
              </td>
            </template>
          </base-table>
        </div>

        <div class="card-footer d-flex justify-content-end bg-transparent">
          <base-pagination :total="1"></base-pagination>
        </div>
      </div>
    </div>
    <!-- MODAL EDIT OR UPDATE RESPONSE -->
    <modal
      :show.sync="modalAddOrUpdate.isShow"
      :gradient="modalAddOrUpdate.isEdit?'primary':'success'"
      modal-classes="modal-danger modal-dialog-centered"
    >
      <h2 slot="header" class="modal-title">
        <i :class="modalAddOrUpdate.icon" class="mr-2"></i>
        {{modalAddOrUpdate.title}}
      </h2>
      <base-alert type="warning" v-if="modalAddOrUpdate.warning.length > 0">
        <span class="alert-inner--text">
          <strong>Lưu ý!</strong>
          {{modalAddOrUpdate.warning}}
        </span>
      </base-alert>
      <form role="form">
        <base-input
          :value="modalAddOrUpdate.val1"
          v-model="modalAddOrUpdate.val1"
          @input="val1Change()"
          :placeholder="modalAddOrUpdate.hint1"
          :addon-left-icon="modalAddOrUpdate.icon"
        ></base-input>
        <textarea
          @input="val2Change()"
          v-model="modalAddOrUpdate.val2"
          class="form-control"
          rows="10"
          placeholder="Nhập lệnh sự kiện dưới dạng JSON vào đây"
        ></textarea>
      </form>
      <template slot="footer">
        <base-button
          type="danger"
          @click="modalAddOrUpdate.isShow = false"
        >{{modalAddOrUpdate.isEdit?"Sửa sau":"Thêm sau"}}</base-button>
        <base-button
          type="success"
          class="ml-auto"
          @click="addOrUpdate()"
          :disabled="modalAddOrUpdate.okDisable"
        >Hoàn tất</base-button>
      </template>
    </modal>
    <!-- END OF MODAL EDIT OR UPDATE RESPONSE -->

    <!-- RECEIVED MODAL -->
    <modal
      :show.sync="modalsConfirmDelete.isShow"
      gradient="primary"
      modal-classes="modal-success modal-dialog-centered"
    >
      <h4
        slot="header"
        class="modal-title"
      >Xóa mẫu câu trả lời (Mã số: {{modalsConfirmDelete.currObject.rd_id}})</h4>
      <div class="text-center mb-3">
        <i class="ni-5x" :class="modalsConfirmDelete.icon"></i>
      </div>
      <p align="center" style="font-weight: bold">Bạn chắc chắn muốn xóa lịch sử trả lời này?</p>

      <template slot="footer">
        <base-button type="danger" @click="removeCurrent()">Xóa</base-button>
        <base-button type="info" @click="modalsConfirmDelete.isShow = false">Không xóa</base-button>
      </template>
    </modal>
    <!-- END RECEIVED MODAL -->
  </div>
</template>
<script src="./CommunicationHistory.js"/>
<style></style>
