<template>
  <div>
    <!-- Nội dung của bảng intent -->
    <div v-if="pr.selectedParent.i_id == undefined">
      <div class="container-fluid mt--7">
        <div class="card shadow bg-default">
          <div class="card-header border-0 bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h3
                  class="mb-2 text-white"
                >{{modalsSelectParent.currObject.a_name == undefined ? "HIỂN THỊ: TẤT CẢ Ý ĐỊNH" : `Ý ĐỊNH CỦA PHẠM TRÙ: ${modalsSelectParent.currObject.a_name.toUpperCase()}`}}</h3>
                <base-button
                  type="warning"
                  class="mb-3"
                  @click="openParentSelect()"
                  :disable="modalsSelectParent.isDisableButton"
                >CHỌN PHẠM TRÙ</base-button>
              </div>
              <div class="col text-right">
                <base-button type="info" @click="openAdd()">Thêm mới</base-button>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <div v-if="isLoading">
              <div class="d-flex justify-content-center" style="padding: 80px 80px 0px 80px">
                <orbit-spinner :animation-duration="800" :size="55" color="#ff1d5e" />
              </div>
              <div
                class="d-flex justify-content-center"
                style="padding: 20px 0px 80px 0px"
              >Đang tải dữ liệu...</div>
            </div>
            <base-table
              v-if="!isLoading"
              class="table align-items-center table-flush table-dark"
              thead-classes="thead-dark"
              tbody-classes="list"
              :data="currData"
            >
              <template slot="columns">
                <th class="text-center">STT</th>
                <th class="text-center">Tên ý định</th>
                <th class="text-center">Thuộc phạm trù</th>
                <th class="text-center">Số mẫu hỏi</th>
                <th class="text-center">Số câu trả lời</th>
                <th></th>
              </template>

              <template slot-scope="{index, row}">
                <td
                  class="text-center"
                  scope="row"
                  @click="openIntent(row)"
                >{{(pagination.value - 1)*10 + index + 1}}</td>
                <td class="budget" @click="openIntent(row)">{{row.i_name}}</td>
                <td class="text-center" @click="openIntent(row)">{{row.a_name}}</td>
                <td
                  class="text-center"
                  @click="openIntent(row)"
                >{{(row.p_total==undefined || row.p_total == 0?'Chưa có':row.p_total)}}</td>
                <td
                  @click="openIntent(row)"
                  class="text-center"
                >{{(row.r_total==undefined || row.r_total == 0?'Chưa có':row.r_total)}}</td>
                <td class="text-right">
                  <base-dropdown class="dropdown" position="right">
                    <template>
                      <a class="dropdown-item text-center" href="#" @click="openDetail(row)">Mô tả</a>
                      <a class="dropdown-item text-center" href="#" @click="openEdit(row)">Chỉnh sửa</a>
                      <a
                        class="dropdown-item text-center"
                        href="#"
                        style="color:red"
                        @click="openConfirmDelete(row)"
                      >Xóa</a>
                    </template>
                    <a
                      slot="title"
                      class="btn btn-sm btn-icon-only text-light"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                  </base-dropdown>
                </td>
              </template>
            </base-table>
          </div>
          <div class="card-footer d-flex justify-content-end bg-transparent">
            <base-pagination :total="currData.length" v-model="pagination.value"></base-pagination>
          </div>
        </div>
        <!-- Add or Edit intent -->
        <modal
          :show.sync="modalsEditOrUpdate.isShow"
          :gradient="modalsEditOrUpdate.isEdit?'primary':'success'"
          modal-classes="modal-danger modal-dialog-centered"
        >
          <h2 slot="header" class="modal-title">
            <i :class="modalsEditOrUpdate.icon" class="mr-2"></i>
            {{modalsEditOrUpdate.title}}
          </h2>
          <base-alert type="warning" v-if="modalsEditOrUpdate.warning.length > 0">
            <span class="alert-inner--text">
              <strong>Lưu ý!</strong>
              {{modalsEditOrUpdate.warning}}
            </span>
          </base-alert>
          <form role="form">
            <base-input
              :value="modalsEditOrUpdate.val1"
              v-model="modalsEditOrUpdate.val1"
              @input="val1Change()"
              :placeholder="modalsEditOrUpdate.hint1"
              :addon-left-icon="modalsEditOrUpdate.icon"
            ></base-input>
            <base-dropdown class="w-100 mb-4">
              <base-button
                slot="title"
                type="secondary"
                class="dropdown-toggle w-100"
              >{{modalsEditOrUpdate.currParent.a_name == undefined?"Vui lòng lựa chọn phạm trù cho ý định":modalsEditOrUpdate.currParent.a_name}}</base-button>
              <a
                class="dropdown-item"
                v-for="agent in modalsSelectParent.parents"
                :key="agent.a_id"
                @click="dropboxSelectedParent(agent)"
              >{{agent.a_name}}</a>
            </base-dropdown>
            <textarea
              v-model="modalsEditOrUpdate.val2"
              @input="val2Change"
              @click="val2Change"
              class="form-control"
              rows="3"
              :placeholder="modalsEditOrUpdate.hint2"
            ></textarea>
          </form>
          <template slot="footer">
            <base-button
              type="danger"
              @click="modalsEditOrUpdate.isShow = false"
            >{{modalsEditOrUpdate.isEdit?"Sửa sau":"Thêm sau"}}</base-button>
            <base-button
              type="success"
              class="ml-auto"
              @click="addOrUpdate()"
              :disabled="modalsEditOrUpdate.okDisable"
            >Hoàn tất</base-button>
          </template>
        </modal>
        <!-- End of Add or edit intent -->

        <!-- Intent info modal -->
        <modal
          :show.sync="modalsDetail.isShow"
          gradient="info"
          modal-classes="modal-danger modal-dialog-centered"
        >
          <h4
            slot="header"
            class="modal-title"
          >Chi tiết ý định (Mã số: {{modalsDetail.currObject.i_id}})</h4>
          <div class="py-3 text-center">
            <i class="ni-3x" :class="modalsDetail.icon"></i>
            <h2 class="heading mt-1" style="font-size: 26px">{{modalsDetail.currObject.i_name}}</h2>
            <p
              class="small mt-3 mb-3"
              style="text-align: justify;"
            >{{(modalsDetail.currObject.i_description === undefined || modalsDetail.currObject.i_description.length>0)?modalsDetail.currObject.i_description:'Chưa có mô tả cụ thể cho ý định này! Vui lòng cập nhật để tường minh hơn trong quá trình xử lý.'}}</p>

            <div style="font-weight: bold">ĐƯỢC TẠO VÀO LÚC</div>
            <div class="ml-auto mb-2">{{extractTime(modalsDetail.currObject.i_create_at)}}</div>

            <div style="font-weight: bold">SỬA LẦN CUỐI VÀO LÚC</div>
            <div class="ml-auto">{{extractTime(modalsDetail.currObject.i_update_at)}}</div>
          </div>

          <template slot="footer">
            <base-button
              type="white"
              @click="modalsDetail.isShow = false"
              class="mr-auto ml-auto"
            >Đã rõ</base-button>
          </template>
        </modal>
        <!-- End of  intent info modal -->

        <!-- Intent delete confirm modal -->
        <modal
          :show.sync="modalsConfirmDelete.isShow"
          gradient="primary"
          modal-classes="modal-success modal-dialog-centered"
        >
          <h4
            slot="header"
            class="modal-title"
          >Xóa ý định (Mã số: {{modalsConfirmDelete.currObject.i_id}})</h4>
          <div class="text-center mb-3">
            <i class="ni-5x" :class="modalsConfirmDelete.icon"></i>
          </div>
          <p align="center" style="font-weight: bold">
            Hiện tại bạn đang cố xóa ý định có tên là
            <badge type="default">{{modalsConfirmDelete.currObject.i_name}}</badge>. Vui lòng cân nhắc kỹ trước khi thực hiện, khi bạn xóa sẽ dẫn đến mất các mục liên quan như:
          </p>
          <ul class="small" style="font-weight: bold">
            <li>
              Mẫu hỏi (Phrase) liên quan:
              <badge
                type="default"
              >{{modalsConfirmDelete.currObject.p_total == null ? 0: modalsConfirmDelete.currObject.p_total}}</badge> (mẫu hỏi)
            </li>
          </ul>
          <ul class="small" style="font-weight: bold">
            <li>
              Mẫu trả lời (Response) liên quan:
              <badge
                type="default"
              >{{modalsConfirmDelete.currObject.r_total == null ? 0: modalsConfirmDelete.currObject.r_total}}</badge> (mẫu trả lời)
            </li>
          </ul>

          <template slot="footer">
            <base-button type="danger" @click="removeCurrent()">Xóa</base-button>
            <base-button type="info" @click="modalsConfirmDelete.isShow = false">Không xóa</base-button>
          </template>
        </modal>
        <!-- End of Intent delete confirm modal -->

        <!-- Select agents modal -->
        <modal
          :show.sync="modalsSelectParent.isShow"
          gradient="danger"
          modal-classes="modal-danger modal-dialog-centered select-dialog"
        >
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">CHỌN PHẠM TRÙ</h3>
                </div>
                <div class="col text-right">
                  <base-button type="warning" size="sm" @click="selectAllParent()">Tất cả</base-button>
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <base-table
                class="table align-items-center table-flush"
                thead-classes="thead-light"
                tbody-classes="list"
                :data="modalsSelectParent.parents"
              >
                <template slot="columns">
                  <th class="text-left">STT</th>
                  <th class="text-center">Phạm trù</th>
                  <th></th>
                </template>

                <template slot-scope="{index, row}">
                  <td @click="selectThisParent(row)">{{index + 1}}</td>
                  <td @click="selectThisParent(row)">
                    <span class="mb-0 text-sm">{{row.a_name}}</span>
                  </td>
                  <td class="text-right" @click="selectThisParent(row)">
                    <base-button
                      type="normal"
                      icon="fa fa-info-circle"
                      class="btn-tooltip"
                      :title="row.a_description"
                    ></base-button>
                  </td>
                </template>
              </base-table>
            </div>

            <div class="card-footer d-flex justify-content-end">
              <base-pagination :total="10"></base-pagination>
            </div>
          </div>
        </modal>
        <!-- End select agents modal -->
      </div>
    </div>
    <!-- Kết thúc nội dung của bảng intent-->

    <!-- Nhúng mới nội dung của 2 bảng phrase và response -->
    <div v-if="pr.selectedParent.i_id != undefined">
      <phrase-response-table :parentId="pr.selectedParent.i_id" @reloadTotalCount="$emit('reloadTotalCount')"></phrase-response-table>
    </div>
    <!-- Kết thúc nhúng mới nội dung của 2 bảng phrase và response -->
  </div>
</template>
<script src="./IntentTable.js"/>
<style>
</style>