<template>
  <div>
    <base-header type="gradient-info" class="pb-6 pb-8 pt-1 pt-md-5">
      <!-- Card stats -->
      <div class="row mt-3">
        <div class="col-xl-3 col-lg-6" @click="changeSelectedCard(0)">
          <stats-card
            title="PHẠM TRÙ"
            type="gradient-red"
            :sub-title="attAgent.total + ''"
            icon="ni ni-hat-3"
            :class="'selected-card-hover mb-4 mb-xl-0' + (selectedCard == 0?' selected-card':'')"
          >
            <template slot="footer">
              <span :class="(selectedCard != 0?'text-success':'text-warning') + ' mr-2'">
                <i :class="(selectedCard == 0?'ni ni-check-bold':'ni ni-active-40')"></i>
                {{(selectedCard == 0?'Đã chọn':'Nhấp vào để quản lý')}}
              </span>
              <span class="text-nowrap"></span>
            </template>
          </stats-card>
        </div>
        <div class="col-xl-3 col-lg-6" @click="changeSelectedCard(1)">
          <stats-card
            title="Ý ĐỊNH"
            type="gradient-orange"
            :sub-title="attIntent.total + ''"
            icon="ni ni-tag"
            :class="'selected-card-hover mb-4 mb-xl-0' + (selectedCard == 1?' selected-card':'')"
          >
            <template slot="footer">
              <span :class="(selectedCard != 1?'text-success':'text-warning') + ' mr-2'">
                <i :class="(selectedCard == 1?'ni ni-check-bold':'ni ni-active-40')"></i>
                {{(selectedCard == 1?'Đã chọn':'Nhấp vào để quản lý')}}
              </span>
              <span class="text-nowrap"></span>
            </template>
          </stats-card>
        </div>
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="MẪU HỎI"
            type="gradient-green"
            :sub-title="attPhrase.total + ''"
            icon="ni ni-air-baloon"
            :class="'mb-4 mb-xl-0' + (selectedCard == 2?' selected-card':'')"
          >
            <template slot="footer">
              <span :class="(selectedCard != 2?'text-success':'text-warning') + ' mr-2'">
                <i :class="(selectedCard == 2?'ni ni-check-bold':'ni ni-active-40')"></i>
                {{(selectedCard == 2?'Đã chọn':'Hãy chọn từ Ý ĐỊNH')}}
              </span>
              <span class="text-nowrap"></span>
            </template>
          </stats-card>
        </div>
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="MẪU TRẢ LỜI"
            type="gradient-info"
            :sub-title="attResponse.total + ''"
            icon="ni ni-chat-round"
            :class="'mb-4 mb-xl-0' + (selectedCard == 2?' selected-card':'')"
          >
            <template slot="footer">
              <span :class="(selectedCard != 2?'text-success':'text-warning') + ' mr-2'">
                <i :class="(selectedCard == 2?'ni ni-check-bold':'ni ni-active-40')"></i>
                {{(selectedCard == 2?'Đã chọn':'Hãy chọn từ Ý ĐỊNH')}}
              </span>
              <span class="text-nowrap"></span>
            </template>
          </stats-card>
        </div>
      </div>
    </base-header>

    <!--Content-->
    <!-- Render table here -->
    <agent-table v-if="selectedCard==0" @reloadTotalCount="loadCount()"></agent-table>
    <intent-table 
      v-if="selectedCard==1 || selectedCard==2" 
      @reloadTotalCount="loadCount()" 
      @selectedIntent="changeSelectedCard(2)"
      :agent="selectedAgent"
      >
    </intent-table>
    <!-- End of render table -->
    <!-- End of Content -->
  </div>
</template>
<script src="./Knowledge.js"/>
<style>
</style>
