<template>
  <div>
    <div class="card shadow bg-default">
      <div class="card-header border-0 bg-transparent">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-2 text-white">MẪU CÂU HỎI</h3>
          </div>
          <div class="col text-right">
            <base-button type="info" @click="openAdd()">Thêm mới</base-button>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <div v-if="isLoading">
          <div class="d-flex justify-content-center" style="padding: 80px 80px 0px 80px">
            <orbit-spinner :animation-duration="800" :size="55" color="#ff1d5e" />
          </div>
          <div
            class="d-flex justify-content-center"
            style="padding: 20px 0px 80px 0px"
          >Đang tải dữ liệu...</div>
        </div>
        <base-table
          v-if="!isLoading"
          class="table align-items-center table-flush table-dark"
          thead-classes="thead-dark"
          tbody-classes="list"
          :data="currData"
        >
          <template slot="columns">
            <th class="text-center">STT</th>
            <th class="text-center">Mẫu câu hỏi</th>
            <th></th>
          </template>

          <template slot-scope="{index, row}">
            <td class="text-center" scope="row">{{(pagination.value - 1)*10 + index + 1}}</td>
            <td class="budget">{{row.p_phrase}}</td>
            <td class="text-right">
              <base-dropdown class="dropdown" position="right">
                <template>
                  <a class="dropdown-item text-center" href="#" @click="openEdit(row)">Chỉnh sửa</a>
                  <a
                    class="dropdown-item text-center"
                    href="#"
                    style="color:red"
                    @click="openConfirmDelete(row)"
                  >Xóa</a>
                </template>
                <a
                  slot="title"
                  class="btn btn-sm btn-icon-only text-light"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-ellipsis-v"></i>
                </a>
              </base-dropdown>
            </td>
          </template>
        </base-table>
      </div>
      <div class="card-footer d-flex justify-content-end bg-transparent">
        <base-pagination :total="currData.length" v-model="pagination.value"></base-pagination>
      </div>
    </div>
    <!-- Add or Edit phrase -->
    <modal
      :show.sync="modalsEditOrUpdate.isShow"
      :gradient="modalsEditOrUpdate.isEdit?'primary':'success'"
      modal-classes="modal-danger modal-dialog-centered"
    >
      <h2 slot="header" class="modal-title">
        <i :class="modalsEditOrUpdate.icon" class="mr-2"></i>
        {{modalsEditOrUpdate.title}}
      </h2>
      <base-alert type="warning" v-if="modalsEditOrUpdate.warning.length > 0">
        <span class="alert-inner--text">
          <strong>Lưu ý!</strong>
          {{modalsEditOrUpdate.warning}}
        </span>
      </base-alert>
      <form role="form">
        <base-input
          :value="modalsEditOrUpdate.val1"
          v-model="modalsEditOrUpdate.val1"
          @input="val1Change()"
          :placeholder="modalsEditOrUpdate.hint1"
          addon-left-icon="fa fa-question"
        ></base-input>
      </form>
      <template slot="footer">
        <base-button
          type="danger"
          @click="modalsEditOrUpdate.isShow = false"
        >{{modalsEditOrUpdate.isEdit?"Sửa sau":"Thêm sau"}}</base-button>
        <base-button
          type="success"
          class="ml-auto"
          @click="addOrUpdate()"
          :disabled="modalsEditOrUpdate.okDisable"
        >Hoàn tất</base-button>
      </template>
    </modal>
    <!-- End of Add or edit phrase -->

    <!-- Phrase delete confirm modal -->
    <modal
      :show.sync="modalsConfirmDelete.isShow"
      gradient="primary"
      modal-classes="modal-success modal-dialog-centered"
    >
      <h4
        slot="header"
        class="modal-title"
      >Xóa mẫu câu hỏi (Mã số: {{modalsConfirmDelete.currObject.p_id}})</h4>
      <div class="text-center mb-3">
        <i class="ni-5x" :class="modalsConfirmDelete.icon"></i>
      </div>
      <p align="center" style="font-weight: bold">
        Hiện tại bạn đang cố xóa mẫu câu có nội dung:
        <br />
        <badge type="default">{{modalsConfirmDelete.currObject.p_phrase}}</badge>
        <br />Vui lòng cân nhắc kỹ trước khi thực hiện.
      </p>

      <template slot="footer">
        <base-button type="danger" @click="removeCurrent()">Xóa</base-button>
        <base-button type="info" @click="modalsConfirmDelete.isShow = false">Không xóa</base-button>
      </template>
    </modal>
    <!-- End of Phrase delete confirm modal -->
  </div>
</template>
<script src="./PhraseTable.js"/>
<style>
</style>