<template>
  <div>
    <base-header type="gradient-info" class="pb-6 pb-8 pt-1 pt-md-5">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-4 col-lg-6" @click="changeCard(0)">
          <stats-card
            title="TỔNG SỐ"
            type="gradient-red"
            :sub-title="count.all"
            icon="fa fa-users"
            class="mb-4 mb-xl-0"
            :class="'selected-card-hover mb-4 mb-xl-0' + (card.id == 0?' selected-card':'')"
          >
            <template slot="footer">
              <span :class="(card.id != 0?'text-success':'text-warning') + ' mr-2'">
                <i :class="(card.id == 0?'ni ni-check-bold':'ni ni-active-40')"></i>
                {{(card.id == 0?'Đã chọn':'Nhấp để lọc')}}
              </span>
              <span class="text-nowrap"></span>
            </template>
          </stats-card>
        </div>
        <div class="col-xl-4 col-lg-6" @click="changeCard(1)">
          <stats-card
            title="QUẢN TRỊ VIÊN"
            type="gradient-orange"
            :sub-title="count.admin"
            icon="fa fa-star"
            class="mb-4 mb-xl-0"
            :class="'selected-card-hover mb-4 mb-xl-0' + (card.id == 1?' selected-card':'')"
          >
            <template slot="footer">
              <span :class="(card.id != 1?'text-success':'text-warning') + ' mr-2'">
                <i :class="(card.id == 1?'ni ni-check-bold':'ni ni-active-40')"></i>
                {{(card.id == 1?'Đã chọn':'Nhấp để lọc')}}
              </span>
              <span class="text-nowrap"></span>
            </template>
          </stats-card>
        </div>
        <div class="col-xl-4 col-lg-12" @click="changeCard(2)">
          <stats-card
            title="QUẢN TRỊ NỘI DUNG"
            type="gradient-green"
            :sub-title="count.contentManager"
            icon="fa fa-graduation-cap"
            :class="'selected-card-hover mb-4 mb-xl-0' + (card.id == 2?' selected-card':'')"
          >
            <template slot="footer">
              <span :class="(card.id != 2?'text-success':'text-warning') + ' mr-2'">
                <i :class="(card.id == 2?'ni ni-check-bold':'ni ni-active-40')"></i>
                {{(card.id == 2?'Đã chọn':'Nhấp để lọc')}}
              </span>
              <span class="text-nowrap"></span>
            </template>
          </stats-card>
        </div>
      </div>
    </base-header>

    <!--User table-->
    <div class="container-fluid mt--7">
      <div class="card shadow bg-default">
        <div class="card-header border-0 bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0 text-white">{{card.title}}</h3>
            </div>
            <div class="col text-right">
              <!-- Một nút nào đó -->
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <div v-if="isLoading">
            <div class="d-flex justify-content-center" style="padding: 80px 80px 0px 80px">
              <orbit-spinner :animation-duration="800" :size="55" color="#ff1d5e" />
            </div>
            <div
              class="d-flex justify-content-center"
              style="padding: 20px 0px 80px 0px"
            >Đang tải dữ liệu...</div>
          </div>
          <base-table
            v-if="!isLoading"
            class="table align-items-center table-flush table-dark"
            thead-classes="thead-dark"
            tbody-classes="list"
            :data="data"
          >
            <template slot="columns">
              <th class="text-center">STT</th>
              <th class="text-center">Họ và tên</th>
              <th class="text-center">Tài khoản</th>
              <th class="text-center">Email</th>
              <th class="text-center">Vai trò</th>
              <th></th>
            </template>

            <template slot-scope="{index, row}">
              <td class="text-center" scope="row" @click="openInfo(row)">{{ index + 1}}</td>
              <td
                class="budget"
                @click="openInfo(row)"
              >{{combineName(row.up_surename, row.up_name)}}</td>
              <td class="text-center" @click="openInfo(row)">{{row.ua_username}}</td>
              <td class="text-center" @click="openInfo(row)">{{row.ua_email}}</td>
              <td class="text-center" @click="openInfo(row)">{{extractUserRoles(row.ua_roles)}}</td>
              <td class="text-right">
                <base-dropdown class="dropdown" position="right">
                  <template>
                    <a class="dropdown-item text-center jmenu-item" @click="openInfo(row)">Thông tin</a>
                    <a
                      class="dropdown-item text-center jmenu-item"
                      @click="openUpdate(row)"
                    >Cập nhật thông tin</a>
                    <a
                      class="dropdown-item text-center jmenu-item"
                      @click="openChangePass(row)"
                    >Đổi mật khẩu</a>
                    <a
                      class="dropdown-item text-center jmenu-item"
                      @click="openDeleteConfirm(row)"
                      style="color:red !important;"
                    >Xóa tài khoản</a>
                  </template>
                  <a
                    slot="title"
                    class="btn btn-sm btn-icon-only text-light"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                </base-dropdown>
              </td>
            </template>
          </base-table>
        </div>

        <div class="card-footer d-flex justify-content-end bg-transparent">
          <base-pagination :total="1"></base-pagination>
        </div>
      </div>
    </div>
    <!-- INFO MODAL -->
    <modal
      :show.sync="info.show"
      gradient="info"
      modal-classes="modal-danger modal-dialog-centered"
    >
      <h5 slot="header" class="modal-title" id="modal-title-notification">
        Thông tin người dùng
        <badge type="default">{{info.account.ua_username}}</badge>
      </h5>

      <div class="py-3 text-center">
        <a href="#" class="rounded-circle mr-3">
          <img
            alt="Image placeholder"
            class="square-crop"
            :src="(info.profile.up_avatar_addr == null?'./img/no-avatar.jpg': info.profile.up_avatar_addr)"
            :title="(info.profile.up_avatar_addr == null?'Chưa có ảnh đại diện': `Ảnh đại diện của ${info.profile.up_name}`)"
          />
        </a>
        <h4 class="heading mt-4">{{combineName(info.account.up_surename, info.account.up_name)}}</h4>
        <h4 class="text-white mt--2" style="font-weight: 400">({{info.account.ua_email}})</h4>
        <p
          class="small mt-3"
          style="text-align: justify;"
        >{{getGender(info.profile.up_gender).call}} sinh vào {{(info.profile.up_birthday == null || info.profile.up_birthday == undefined || info.profile.up_birthday == "")? 'nào đó chưa rõ' : birthdayToText(info.profile.up_birthday)}} tại {{info.profile.up_home_town_addr}}. Hiện tại, {{getGender(info.profile.up_gender).call.toLowerCase()}} đang sống tại địa chỉ {{(info.profile.up_home_curr_addr == null || info.profile.up_home_curr_addr == undefined || info.profile.up_home_curr_addr == "")? "nào đó chưa được khai báo" : info.profile.up_home_curr_addr}} {{(info.profile.up_work_place_addr==null || info.profile.up_work_place_addr == undefined || info.profile.up_work_place_addr == "")?'':', làm việc tại' + info.profile.up_work_place_addr}} và có số điện thoại liên lạc {{(info.profile.up_phone == null || info.profile.up_phone == undefined || info.profile.up_phone == "")?'chưa được cập nhật':'là' + info.profile.up_phone}}. Và hiện {{getGender(info.profile.up_gender).call.toLowerCase()}} đang đóng vai trò là {{info.account.ua_roles!= null ? extractUserRoles(info.account.ua_roles).toUpperCase() : ""}} trong hệ thống.</p>
      </div>

      <template slot="footer">
        <base-button type="white" @click="info.show = false">Đóng</base-button>
      </template>
    </modal>
    <!-- END OF IN FOR MODAL -->

    <!-- UPDATE INFO MODAL -->
    <modal
      :show.sync="update.show"
      gradient="primary"
      modal-classes="modal-danger modal-dialog-centered"
    >
      <h5 slot="header" class="modal-title" id="modal-title-notification">
        Cập nhật thông tin
        <badge type="default">{{update.account.ua_username}}</badge>
      </h5>
      <input
        type="file"
        accept="image/*"
        id="select-avatar"
        style="visibility:hidden;heigth: 0px;width: 0px;"
        @change="onSelectedAvatar"
      />
      <div class="row mt--5">
        <div class="col-4 text-center mt-4">
          <div class="rounded-circle">
            <label for="select-avatar">
              <img
                class="square-crop"
                title="Nhấp vào để đổi ảnh đại diện"
                alt="Ảnh đại diện"
                :src="(update.profile.up_avatar_addr == null?'./img/no-avatar.jpg': update.profile.up_avatar_addr)"
              />
            </label>
          </div>
        </div>
        <div class="col-8 pr-4">
          <div class="row">
            <div class="col-6 px-1">
              <base-input alternative placeholder="Họ" class="mb-2" v-model="update.input.surename"></base-input>
            </div>
            <div class="col-6 px-1 pt-0">
              <base-input alternative placeholder="Tên" class="mb-2" v-model="update.input.name"></base-input>
            </div>
          </div>

          <div class="row">
            <div class="col-12 w-100 px-1">
              <base-dropdown class="w-100">
                <base-button
                  slot="title"
                  type="secondary"
                  class="dropdown-toggle w-100"
                >{{update.input.gender.name}}</base-button>
                <a class="dropdown-item" @click="update.input.gender = getGender(0)">Nam</a>
                <a class="dropdown-item" @click="update.input.gender = getGender(1)">Nữ</a>
                <a class="dropdown-item" @click="update.input.gender = getGender(2)">Không muốn nói</a>
              </base-dropdown>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-1 ni-2x ml-1">
        <div class="col-1 my-auto">
          <i class="fa fa-star"></i>
        </div>
        <div class="col-11">
          <base-dropdown class="w-100">
            <base-button
              slot="title"
              type="secondary"
              class="dropdown-toggle w-100"
            >{{getRoleNameByCode(update.account.ua_roles)}}</base-button>
            <a
              class="dropdown-item"
              @click="update.account.ua_roles = role.code"
              v-for="role in roles"
              :key="role.name"
            >{{role.name}}</a>
          </base-dropdown>
        </div>
      </div>

      <div class="row mt-2 ni-2x ml-1">
        <div class="col-1 my-auto">
          <i class="fa fa-birthday-cake"></i>
        </div>
        <div class="col-11">
          <flat-pickr
            :config="datePickerConfig"
            v-model="update.input.birthday"
            class="form-control w-100 text-center"
            style="background: white"
          ></flat-pickr>
        </div>
      </div>

      <div class="row mt-2 ni-2x ml-1">
        <div class="col-1 my-auto">
          <i class="fa fa-home"></i>
        </div>
        <div class="col-11">
          <base-input
            alternative
            placeholder="Địa chỉ hiện tại"
            class="mb-2"
            v-model="update.input.currentHome"
          ></base-input>
        </div>
      </div>

      <div class="row mt-2 ni-2x ml-1">
        <div class="col-1 my-auto">
          <i class="fa fa-flag"></i>
        </div>
        <div class="col-11">
          <base-input
            alternative
            placeholder="Quê quán"
            class="mb-2"
            v-model="update.input.homeTown"
          ></base-input>
        </div>
      </div>

      <div class="row mt-2 ni-2x ml-1">
        <div class="col-1 my-auto">
          <i class="fa fa-briefcase"></i>
        </div>
        <div class="col-11">
          <base-input
            alternative
            placeholder="Nơi làm việc"
            class="mb-2"
            v-model="update.input.workAddress"
          ></base-input>
        </div>
      </div>

      <div class="row mt-2 ni-2x ml-1">
        <div class="col-1 my-auto">
          <i class="fa fa-phone-square"></i>
        </div>
        <div class="col-11">
          <base-input
            alternative
            placeholder="Số điện thoại"
            class="mb-2"
            v-model="update.input.phone"
          ></base-input>
        </div>
      </div>

      <template slot="footer">
        <base-button type="white" @click="update.show = false" class="mr-auto">Sửa sau</base-button>
        <base-button type="success" @click="updateProfile()">Hoàn tất</base-button>
      </template>
    </modal>
    <!-- END OF UPDATE INFO MODAL -->

    <!-- DELETE CONFIRM MODAL -->
    <modal
      :show.sync="deleteConfirm.show"
      gradient="danger"
      modal-classes="modal-danger modal-dialog-centered"
    >
      <h5 slot="header" class="modal-title" id="modal-title-notification">
        Xóa người dùng
        <badge type="default">{{deleteConfirm.account.ua_username}}</badge>
      </h5>

      <div class="py-3 text-center">
        <a href="#" class="rounded-circle mr-3">
          <img
            alt="Image placeholder"
            class="square-crop"
            :src="(deleteConfirm.profile.up_avatar_addr == null?'./img/no-avatar.jpg': deleteConfirm.profile.up_avatar_addr)"
            :title="(deleteConfirm.profile.up_avatar_addr == null?'Chưa có ảnh đại diện': `Ảnh đại diện của ${deleteConfirm.profile.up_name}`)"
          />
        </a>
        <h4
          class="heading mt-4"
        >{{combineName(deleteConfirm.account.up_surename, deleteConfirm.account.up_name)}}</h4>
        <h4 class="text-white mt--2" style="font-weight: 400">({{deleteConfirm.account.ua_email}})</h4>
        <p
          class="mt-3 text-center"
        >Bạn thực sự muốn xóa người dùng này? Hành động này sẽ không thể hoàn tác.</p>
      </div>

      <template slot="footer">
        <base-button type="white" @click="deleteConfirm.show = false" class="mr-auto">Đóng</base-button>
        <base-button type="danger" @click="deleteAccountAndProfile()">XÓA</base-button>
      </template>
    </modal>
    <!-- END OF DELETE CONFIRM MODAL -->

    <!-- CHANGE PASSWORD MODAL -->
    <modal
      :show.sync="changePass.show"
      gradient="warning"
      modal-classes="modal-danger modal-dialog-centered"
    >
      <h5 slot="header" class="modal-title" id="modal-title-notification">Đổi mật khẩu</h5>

      <div class="py-3 text-center mt--6">
        <h4 class="heading mt-4" style="font-size: 36px;">{{changePass.account.ua_username}}</h4>
        <h4
          class="text-white mt--2"
          style="font-weight: 400;"
        >({{combineName(changePass.account.up_surename, changePass.account.up_name)}})</h4>
      </div>
      <base-input placeholder="Mật khẩu mới" class="mt-2" type="password" v-model="changePass.pass"></base-input>
      <base-input
        placeholder="Nhập lại mật khẩu mới"
        type="password"
        v-model="changePass.passReType"
      ></base-input>

      <template slot="footer">
        <base-button type="white" @click="changePass.show = false" class="mr-auto">Đổi sau</base-button>
        <base-button type="success" @click="submitChangePass()">Hoàn tất</base-button>
      </template>
    </modal>
    <!-- CHANGE PASSWORD MODAL -->
  </div>
</template>
<script src="./Users.js">
</script>
<style>
.square-crop {
  object-fit: cover;
  width: 100px !important;
  height: 100px !important;
  border: 2px white solid;
  border-radius: 50%;
  margin-top: -25px;
}

.square-crop:hover {
  cursor: pointer;
}

.jmenu-item {
  color: black !important;
  cursor: pointer !important;
  transition-duration: 0.5s;
}

.jmenu-item:hover {
  background: #e6e6e6;
  transition-duration: 0.5s;
}
</style>
