<template>
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-5" v-if="model.warning.length <=0">
            <!-- <img src="/img/brand/Icon_512.png" width="30%" class="mb-3"/> -->
            <i class="avatar fa fa-lock" style="width: 80px; height: 80px;font-size: 40px"></i>
          </div>
          <base-alert type="warning" v-if="model.warning.length > 0">
            <strong>Lưu ý!</strong>
            {{model.warning}}
          </base-alert>
          <form role="form">
            <base-input
              id="username"
              type="text"
              class="input-group-alternative mb-3"
              placeholder="Tài khoản hoặc email"
              addon-left-icon="ni ni-single-02"
              @input="validateEmail"
              @keyup.enter="login()"
              v-model="model.username"
            ></base-input>

            <base-input
              class="input-group-alternative"
              placeholder="Mật khẩu"
              @input="validatePassword"
              @keyup.enter="login()"
              type="password"
              addon-left-icon="ni ni-key-25"
              v-model="model.password"
            ></base-input>
            <div class="text-center">
              <base-button
                type="info"
                class="mt-4"
                @click="login()"
                @keyup.enter="login()"
                :disabled="model.disable"
              >Đăng nhập</base-button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3 text-black">
        <div class="col-6">
          <a href="#" class="text-light">
            <small>Quên mật khẩu?</small>
          </a>
        </div>
        <div class="col-6 text-right">
          <router-link to="/register" class="text-light">
            <small>Chưa có tài khoản?</small>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
var UserAccount = require("../api/UserAccount.js");
var PwdHasing = require("../utils/pwd.js");
import Storage from "../utils/storage.js";

export default {
  name: "login",
  data() {
    return {
      model: {
        username: "",
        password: "",
        warning: "",
        disable: true
      }
    };
  },
  methods: {
    validatePassword() {
      this.model.disable = true;
      if (this.model.password.length <= 0) {
        this.model.warning = "";
      } else if (this.model.password.length < 8) {
        this.model.warning = "Mật khẩu phải lớn hơn 8 ký tự.";
      } else {
        this.model.warning = "";
        if (
          this.model.username.length >= 5 &&
          this.model.password.length >= 8
        ) {
          this.model.disable = null;
        }
      }
    },
    validateEmail() {
      this.model.disable = true;
      if (this.model.username.length <= 0) {
        this.model.warning = "";
      } else {
        if (
          this.model.username.includes("@") ||
          this.model.username.includes(".")
        ) {
          // Nếu là email
          let re = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
          if (!re.test(String(this.model.username).toLowerCase())) {
            this.model.warning = "Địa chỉ email chưa đúng";
          } else if (this.model.username.length < 10) {
            this.model.warning = "Email quá ngắn";
          } else {
            this.model.warning = "";
            if (
              this.model.username.length >= 10 &&
              this.model.password.length >= 8
            ) {
              this.model.disable = null;
            }
          }
        } else if (this.model.username.length < 5) {
          this.model.warning = "Tên đăng nhập quá ngắn";
        } else {
          // Nếu là username binhg thường
          let re = /^[a-zA-Z0-9]+$/;
          if (!re.test(String(this.model.username).toLowerCase())) {
            this.model.warning =
              "Tên tài khoản chỉ có thể bao gồm các ký tự từ a-z, A-Z và 0-9";
          } else {
            this.model.warning = "";
            if (
              this.model.username.length >= 5 &&
              this.model.password.length >= 8
            ) {
              this.model.disable = null;
            }
          }
        }
      }
    },
    login() {
      if (this.model.disable == null) {
        UserAccount.login(
          this.model.username,
          PwdHasing.hasing(this.model.password)
        ).then(r => {
          if (r.data.status == 1) {
            this.$cookies.set("access_token", r.data.token, {
              expires: "10y",
              path: "/"
            });
            this.model.warning = "";
            UserAccount.getAccount(r.data.result.ua_id).then(r1 => {
              UserAccount.getAllRoles().then(r2 => {
                let roleName = "";
                for (let i = 0; i < r2.data.result.length; i++) {
                  if (r2.data.result[i].code == r1.data.result[0].ua_roles) {
                    roleName = r2.data.result[i].name;
                  }
                }
                if (
                  Storage.checkIsRoles(
                    Storage.roles.adminRoles,
                    r1.data.result[0].ua_roles
                  )
                ) {
                  this.$toast.open({
                    message:
                      "Đăng nhập thành công với tư cách là " +
                      roleName.toUpperCase(),
                    type: "success",
                    position: "top-right"
                  });
                  this.$router.push("/knowledge");
                } else {
                  this.$toast.open({
                    message:
                      "Đăng nhập thành công với tư cách là " +
                      roleName.toUpperCase(),
                    type: "success",
                    position: "top-right"
                  });
//                  this.$router.push("/dashboard");
                }
              });
            });
          } else {
            this.model.warning = "";
            this.$toast.open({
              message: "Tên đăng nhập hoặc mật khẩu không đúng",
              type: "error",
              position: "top-right"
            });
          }
        });
      }
    }
  }
};
</script>
<style>
</style>
