<template>
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4" v-if="model.warning.length <=0">
            <i class="ni ni-circle-08 ni-5x"></i>
          </div>
          <base-alert type="warning" v-if="model.warning.length > 0">
            <strong>Lưu ý!</strong>
            {{model.warning}}
          </base-alert>
          <form role="form">
            <base-input
              class="input-group-alternative mb-3"
              placeholder="Tên tài khoản"
              addon-left-icon="ni ni-single-02"
              v-model="model.username"
              @input="validateUsername"
            ></base-input>

            <base-input
              class="input-group-alternative mb-3"
              placeholder="Email"
              addon-left-icon="ni ni-email-83"
              @input="validateEmail"
              v-model="model.email"
            ></base-input>

            <base-input
              class="input-group-alternative"
              placeholder="Mật khẩu"
              type="password"
              addon-left-icon="ni ni-key-25"
              v-model="model.password"
              @input="validatePassword"
            ></base-input>
            <div class="row my-4">
              <div class="col-12">
                <div class="text-muted text-center small">
                  Khi nhấn đăng ký, tức là bạn đã đồng ý toàn bộ
                  <a href="#!">chính sách bảo mật</a>
                </div>
              </div>
            </div>
            <div class="text-center">
              <base-button type="info" class="mt-2" :disabled="model.disable" @click="register()">Đăng ký</base-button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href="#" class="text-light">
            <small>Quên mật khẩu?</small>
          </a>
        </div>
        <div class="col-6 text-right">
          <router-link to="/login" class="text-light">
            <small>Đã có tài khoản?</small>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
var UserAccount = require("../api/UserAccount.js");
var PwdHasing = require("../utils/pwd.js");

export default {
  name: "register",
  data() {
    return {
      model: {
        username: "",
        email: "",
        password: "",
        warning: "",
        disable: true
      }
    };
  },
  methods: {
    validatePassword() {
      this.model.disable = true;
      if (this.model.password.length <= 0) {
        this.model.warning = "";
      } else if (this.model.password.length < 8) {
        this.model.warning = "Mật khẩu phải lớn hơn 8 ký tự.";
      } else {
        this.model.warning = "";
        if (
          this.model.password.length >= 8 &&
          this.model.username.length >= 5 &&
          this.model.email.length >= 10
        ) {
          this.model.disable = null;
        }
      }
    },
    validateUsername() {
      this.model.disable = true;
      if (this.model.username.length <= 0) {
        this.model.warning = "";
      } else if (this.model.username.length < 5) {
        this.model.warning = "Tên đăng nhập quá ngắn";
      } else {
        // Nếu là username binhg thường
        let re = /^[a-zA-Z0-9]+$/;
        if (!re.test(String(this.model.username).toLowerCase())) {
          this.model.warning =
            "Tên tài khoản chỉ có thể bao gồm các ký tự từ a-z, A-Z và 0-9";
        } else {
          UserAccount.checkUsername(this.model.username).then(r => {
            if (r.data.result != undefined && r.data.result > 0) {
              this.model.warning = "Tài khoản đã được đăng ký";
            } else {
              this.model.warning = "";
              if (
                this.model.password.length >= 8 &&
                this.model.username.length >= 5 &&
                this.model.email.length >= 10
              ) {
                this.model.disable = null;
              }
            }
          });
        }
      }
    },
    validateEmail() {
      this.model.disable = true;
      if (this.model.email.length <= 0) {
        this.model.warning = "";
      } else {
        // Nếu là email
        let re = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if (!re.test(String(this.model.email).toLowerCase())) {
          this.model.warning = "Địa chỉ email chưa đúng";
        } else if (this.model.email.length < 10) {
          this.model.warning = "Email quá ngắn";
        } else {
          UserAccount.checkEmail(this.model.email).then(r => {
            if (r.data.result != undefined && r.data.result > 0) {
              this.model.warning =
                "Email này đã được sử dụng cho tài khoản khác";
            } else {
              this.model.warning = "";
              if (
                this.model.password.length >= 8 &&
                this.model.username.length >= 5 &&
                this.model.email.length >= 10
              ) {
                this.model.disable = null;
              }
            }
          });
        }
      }
    },
    register() {
      if (this.model.disable == null) {
        this.model.disable = true;
        UserAccount.add(
          this.model.username,
          PwdHasing.hasing(this.model.password),
          this.model.email
        )
          .then(r => {
            this.$toast.open({
              message: "Đăng ký thành công! Vui lòng đăng nhập",
              type: "success",
              position: "top-right"
            });
            this.$router.push("/login");
          })
          .catch(e => {
            this.$toast.open({
              message: "Đăng ký không thành công!",
              type: "error",
              position: "top-right"
            });
          })
          .finally(() => {
            this.model.disable = null;
          });
      }
    }
  }
};
</script>
<style>
</style>
