<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <side-bar :background-color="sidebarBackground" short-title="Jassis" title="Jassis">
      <template slot="links">
        <sidebar-item
          :link="{name: 'Kiến thức', icon: 'ni ni-planet text-vistark', path: '/knowledge'}"
          title="Kho tri thức của Jassis"
        />
        <sidebar-item
          :link="{name: 'Lịch sử giao tiếp', icon: 'fa fa-comments text-vistark', path: '/communication-history'}"
        />
        <sidebar-item
          :link="{name: 'Giọng nói', icon: 'fa fa-audio-description text-vistark', path: '/audio-stored'}"
        />
        <sidebar-item
          :link="{name: 'Biểu thức', icon: 'fa fa-code text-vistark', path: '/expression'}"
        />
        <sidebar-item
          :link="{name: 'Người dùng', icon: 'fa fa-users text-vistark', path: '/users'}"
        />
        <a
          @click="logoutDialog.show = true"
          class="nav-link router-link-active"
          style="cursor: pointer;"
        >
          <i class="ni ni-button-power text-vistark"></i>
          <span class="nav-link-text">Đăng xuất</span>
        </a>
      </template>
    </side-bar>
    <div class="main-content" :data="sidebarBackground">
      <div @click="toggleSidebar">
        <fade-transition :duration="200" origin="center top" mode="out-in">
          <!-- your content here -->
          <router-view></router-view>
        </fade-transition>
        <content-footer v-if="!$route.meta.hideFooter"></content-footer>
      </div>
    </div>
    <!-- Modal confirm logout -->
    <modal
      :show.sync="logoutDialog.show"
      gradient="danger"
      modal-classes="modal-danger modal-dialog-centered"
    >
      <h4 slot="header" class="modal-title">Đăng xuất</h4>
      <div class="text-center mb-3">
        <i class="ni ni-button-power ni-5x"></i>
      </div>
      <p
        align="center"
        style="font-weight: bold"
      >Bạn thực sự muốn đăng xuất khỏi hệ thống và ngừng toàn bộ công việc?</p>
      <template slot="footer">
        <base-button type="danger" @click="logout()">Đăng xuất</base-button>
        <base-button type="info" @click="logoutDialog.show = false">Ở lại</base-button>
      </template>
    </modal>
    <!-- End of modal confirm loggout -->
  </div>
</template>
<script>
import ContentFooter from "./ContentFooter.vue";
import { FadeTransition } from "vue2-transitions";
var UserAccount = require("../api/UserAccount.js");

export default {
  components: {
    ContentFooter,
    FadeTransition
  },
  data() {
    return {
      sidebarBackground: "blue", //vue|blue|orange|green|red|primary
      logoutDialog: {
        show: false
      }
    };
  },
  methods: {
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false);
      }
    },
    logout() {
      UserAccount.logout();
      this.$cookies.remove("access_token");
      this.$router.push("/");
    }
  }
};
</script>
<style lang="scss">
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2dce89;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: greenyellow;
}
.navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active {
  background: rgba(202, 202, 202, 0.7);
  color: #d1313d;
  font-weight: 600;
  text-transform: uppercase;
}
.text-vistark {
  color: #d1313d;
}
</style>
